# Ignorar entorno virtual
CNN_Agua/Lib/
CNN_Agua/Scripts/
CNN_Agua/Include/
CNN_Agua/share/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Modelos de ML
*.h5
*.weights.h5
*.hdf5

# Carpetas de build
build/
dist/

#Carpeta de imágenes - Dataset
CNN_Agua/CNN_Imagenes/

# Otros pesados
*.zip
*.mp4

# VS Code
.vscode/